footer{

  background-color: #333333;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10vh;
    width: 80%;
    background-color: #333333;
    color: white;
    }
   