nav{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: start;
    padding: 20px 5%;
    height: 300px;
    width: 90%;
    z-index: 1000000;
   
}
a{ 
    /* fun cursor */
    /* cursor: url("./bread.svg"), auto; */
    cursor: pointer;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    font-size: 20px;
    color: white;
  }
  
  a:hover {
    text-decoration-color: rgb(255, 255, 255);
  }

.left-container-nav > a,svg{
    width: 50px;
    height: 50px;
    color: white;
}

.right-container-nav{
    
    
    display: flex;
    gap: 10px;
    color: white;
   
    
}






.right-container-mobile{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
 
  color: white;
  right: 0;
}
.opened{
  display: flex;
  flex-direction: column;
 
  align-items: flex-end;;
}
.hamburger , .closed {
  width: 32px;
  height: 32px;
}
.popup{
  
  top: 30px;
}
.list{
  display: grid;

  position: relative;
  color: white;
  transition: grid-template-rows ease-in 300ms;
}



li{
text-align: end;
padding: 10px 0 0 0;
}
