* {
  border: 0px;
  margin: 0px;
  font-family: "Titillium Web", sans-serif;

  /* -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; remove when done */
}

*::-webkit-scrollbar {
  display: none;
}
