* {
  border: 0px;
  margin: 0px;
  font-family: "Titillium Web", sans-serif;

  /* -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; remove when done */
}

*::-webkit-scrollbar {
  display: none;
}
main {
}
.gradient {
  position: absolute;
  z-index: 100;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 77%,
    rgba(0, 0, 0, 1) 100%
  );
}
.video-land {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.big-video {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

/* Second Page */

.our-work {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.work-title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30vw;
  height: 10vw;
}
.work-title {
  color: white;
}
.video-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 10px;
  
}
.test-video{
  
  
  aspect-ratio: 1.85/1;
}
.small-video{
width: calc(100% - 0px);
/* Nu stiu de ce merge asta dar las-o asa */

  object-fit: cover;
  aspect-ratio: inherit;
}
.snap{
  position: fixed;
  width: 30px;
  z-index: 30000;
  height: 30px;
  top: 45%;
  right:10px;
  background-color: rgba(207, 159, 159, 0.411);
  border-radius: 10px;
  border: 2px solid  rgb(105, 88, 88);
}
.two{
  top: 50%;
}
