@font-face {
  font-family: Cocogoose-Light;
  src: url(/font/CocogooseCondensed-UltraLight.woff2);
}

* {
  scroll-behavior: smooth;
  border: 0px;
  margin: 0px;
  font-family: Cocogoose-Light, sans-serif;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
h1 {
  margin: 10px 0;
  font-size: 32px;
  color: white;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 20px;
}
body {
  background-color: black;
  scroll-behavior:unset;
}

*::-webkit-scrollbar {
  display: none;
}
.snap {
  cursor: pointer;
  position: fixed;
  width: 30px;
  z-index: 30000;
  height: 30px;
  top: 45%;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.103);
  color: white;
  border: 2px solid rgba(90, 89, 89, 0.226);
}
.big-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}

.worked-icons > svg + img {
  object-fit: contain;
}

/* PLace Holder */

.placeholder {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.video-land.placeholder.fade-out {
  opacity: 0;
}
.third-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#second:hover > div > .big-title {
  color: #ffbe59;
  text-shadow: 1px 2px 5px red;
}
#third:hover > #proiecte-title {
  color: #ffbe59;
  text-shadow: 1px 2px 5px red;
}
.worked-with:hover > .big-title {
  color: #ffbe59;
  text-shadow: 1px 2px 5px red;
}

.team:hover > .big-title {
  color: #ffbe59;
  text-shadow: 1px 2px 5px red;
}

.big-title {
  transition: 200ms linear;
  
}

@media screen and (max-width: 750px) {
  .big-title {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
}
